.cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 249px;
    height: 36px;
    border-color: #999;
    border-radius: 4px;
}

.cart-component {
    display: flex;
    margin: auto;
    align-items: center;
    width: 900px;
    height: 600px;
    gap: 50px;
}
